<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ImagePalette - Color palette generator</title>
    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="container-fluid">
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">ImagePalette</a>
        </div>
      </nav>

      <div class="container text-center">
        <h3 class="pt-2">Demo</h3>
        <img src="{{ image }}" class="rounded w-50 pt-4 pb-5" alt="Image">

        <h4 class="mt-2 mb-4">Top 10 most common colors</h4>
        
        <table class="table table-hover w-50 m-auto mb-5">
          <thead>
            <tr>
              <th scope="col">Color</th>
              <th scope="col">Color Code</th>
            </tr>
          </thead>
          <tbody>
            {% for color in colors %}
            <tr>
              <td style="background-color: {{color}};"></td>
              <td>{{ color }}</td>
            {% endfor %}
            </tr>
          </tbody>
        </table>

        <form action="/upload" method="post" enctype="multipart/form-data">
          <input class="border-1" type="file" name="image" id="image"><br>
          <button class="border-1 mt-2" type="submit">Enter</button>
        </form>

      </div>
      <footer>
        <p class="text-center mt-5">Copyright &copy {{ year }} Lasantha Mudalige. All rights reserved</p> 
     </footer>
    </div>
    
  </body>
</html>
